replicaCount: 1

app:
  name: new-app

image:
  repository: docker.io/prathmeshwake/new-app
  tag: latest

service:
  port: 8080

activeColor: blue

serviceAccount:
  create: false
  name: ""

ingress:
  enabled: false
  annotations: {}
  hosts: []
  tls: []

httpRoute:
  enabled: false
  annotations: {}
  hosts: []
  paths: []

env:
  - name: DB_USER
    valueFrom:
      secretKeyRef:
        name: app-secrets
        key: DB_USER
  - name: DB_PASS
    valueFrom:
      secretKeyRef:
        name: app-secrets
        key: DB_PASS
