replicaCount: 1

app:
  name: new-app

image:
  repository: docker.io/prathmeshwake/new-app
  tag: latest

service:
  port: 8080

activeColor: blue

serviceAccount:
  create: false
  name: ""

ingress:
  enabled: false
  annotations: {}
  hosts: []
  tls: []

httpRoute:
  enabled: false
  annotations: {}
  hosts: []
  paths: []

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 2
  targetCPUUtilizationPercentage: 80

env:
  - name: DB_USER
    valueFrom:
      secret
