apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: demo-app
  template:
    metadata:
      labels:
        app: demo-app
    spec:
      containers:
        - name: demo-app
          image: docker.io/prathmeshwake/demo-app:latest
          imagePullPolicy: Always   # <-- ADD THIS LINE

          ports:
            - containerPort: 8080
