apiVersion: apps/v1
kind: Deployment
metadata:
  name: new-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: new-app
  template:
    metadata:
      labels:
        app: new-app
    spec:
      containers:
        - name: new-app
          image: docker.io/prathmeshwake/new-app:latest
          imagePullPolicy: Always   # <-- ADD THIS LINE

          ports:
            - containerPort: 8080
